$primary-color=#ff9900;
$success-color=green;
$danger-color=red;

$fontColor1=#333333;
$fontColor2=#666666;
$fontColor3=#999999;
$borderColor=#cccccc;
$fontSelectColor=#ffffff;


$HomeBackground=#fafafa;