$h1 = 0.4rem;
$h2 = 0.3rem;
$h3 = 0.2rem;
$p = 0.16rem;
$margin = 0.2rem;
$padding = 0.1rem;
$paddingLeft = 0.1rem;
$paddingRight = 0.1rem;
$borderMinSize = 0.01rem;
$borderMaxSize = 0.02rem;
$footerHeight = 0.8rem;