@import '../../../../stylus/color.styl';

.header {
    width: 100vw;
    height: 0.4rem;
    background: $primary-color;
    text-align: center;
    line-height: 0.4rem;
    color: $fontSelectColor;
}