@import '../../stylus/color.styl';
@import '../../stylus/Size.styl';

footer {
    display: flex;
    width: 100%;
    height: 0.5rem;
    color: #000000 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #dfdfe1;
    background: #ffffff;

    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            width: 0.2rem;
        }
    }

    .selct {
        color: $primary-color;
    }
}